@font-face {
    font-family: "Bebas Neue Cyrillic";
    src: url("Bebas Neue.eot"); /* IE9 */
    src: url("Bebas Neue.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Bebas Neue.woff") format("woff"), /* chrome, firefox */
    url("Bebas Neue.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Bebas Neue.svg#Bebas Neue Cyrillic") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


