@font-face {
    font-family: "Bebas Neue Bold";
    src: url("Bebas.eot"); /* IE9 */
    src: url("Bebas.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Bebas.woff") format("woff"), /* chrome, firefox */
    url("Bebas.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Bebas.svg#Bebas Neue Bold") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


