@font-face {
    font-family: "Bebas Neue Regular";
    src: url("Bebas Neue-normal.eot"); /* IE9 */
    src: url("Bebas Neue-normal.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Bebas Neue-normal.woff") format("woff"), /* chrome, firefox */
    url("Bebas Neue-normal.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Bebas Neue-normal.svg#Bebas Neue Regular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


